hr.rounded {
    border-top: 0.5px solid rgba(60, 60, 60, 0.25);
    /* border-radius: 0.5px; */
    /* max-width: 1340px; */
}

#header-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: normal;
    height: 250px;
}
.header-title {
    font-family: herr-von-muellerhoff-regular;
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 150px;
    min-width: 550px;
   
}
.header-subtitle {
    /* font-family: cinzel-decorative-regular; */
    font-size: 14px;
    color: rgb(60, 60, 60, 0.75);
    position: relative;
    height: 50px;
}
.nav-bar {
    display: flex;
    /* align-content: space-between; */
    align-content: center;
    max-width: 1040px;
    margin: auto;
}
.nav-item {
    height: 19px;
    margin-right: 5px;
    margin-left: 5px;
    flex-grow: 1;
    color: rgba(60, 60, 60, 0.75);
    font-size: 12px;
    text-transform: uppercase;
}