/* #page-container {
    position: relative;
    box-sizing: border-box;

    font-family: inria-serif-regular;
    font-size: 14px;
    color: black;
    margin: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;

    font-family: inria-serif-regular;
    font-size: 14px;
    color: #666;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgba(60, 60, 60, 0.75);
    opacity: 0.75;
}
.back-to-top-button {
    color: rgba(60, 60, 60, 0.75);
    font-size: 24px;
    font-style: italic;
}
ol {
    text-align: left;
}