#page-container {
    position: relative;
    min-height: 100vh;

    font-family: inria-serif-regular;
    font-size: 14px;
    color: black;
    margin: 0;
}
#content-wrap-home {
    padding-bottom: 200px;
    max-width: 1040px;
    margin: auto;
}
#content-wrap-recipe {
    padding-bottom: 200px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
body {
    margin: 0px;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgba(60, 60, 60, 0.75);
    opacity: 0.75;
}
.back-to-top-button {
    color: rgba(60, 60, 60, 0.75);
    font-size: 24px;
    font-style: italic;
}
ol {
    text-align: left;
}